.TaskBottom > img {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}
.TaskBlock {
    height: fit-content;
    border-top: black solid 3px;
    border-left: black solid 3px;
    border-right: black solid 3px;
}
.TaskBlock:nth-last-child(1) {
    border-bottom: black solid 3px;
}
.TaskName {
    height: fit-content;
    font-size: 24px;
    border-bottom: #cccccc solid 2px;
    padding-left: 5px;
    padding-bottom: 3px;
}
.TaskBottom > div > div {
    text-align: center;
    flex-basis: 0px;
    flex-grow: 1;
    padding-bottom: 2px;
}
.TaskBottom {
    height: 20px;
    display: flex;
}
.TaskBottom > div {
    flex: auto;
    display: flex;
    border-bottom: skyblue 3px;
}
.TaskBottom > div > div:nth-child(1) {
    border-left: #cccccc solid 2px;
    border-right: #cccccc solid 2px;
}
